.sort{
    position: relative;
    cursor: pointer;
    

    h3{
        margin-left: 20px;
        &::before{
            content: '\2B9F';
            position: absolute;
            left: 0px;
            transition: all .4s;
        }
    }

    &_list{
        width: 150px;
        background-color: white;
        position: absolute;
        top: 27px;
        left: 140px;
        z-index: 3;
        padding: 5px;
        box-shadow: 4px 4px 8px black;
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        transition: all .3s;
        

        li{
            padding: 5px 10px;
            border-radius: 10px;
            margin: 3px 0px;
            transition: all .3s;
        &:hover{
            background-color: rgb(184, 184, 184);
        }
        }
    }

    &.active{
         .sort_list{
            opacity: 1;
            visibility: visible;
         }
         h3::before{transform: rotate(-180deg);}
    }

    
}